.intro {
  // background-image: url('https://images.unsplash.com/photo-1530819568329-97653eafbbfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1046&q=80');
  background-position: center;
  background-size: cover;
  background-color: $blue;
  align-items: center;
  height: 95vh;
  .intro-text {
    padding: 100px 80px;
  }
  h1 {
    font-weight: 200;
    color: $light-beige;
    font-size: 80px;
    margin-bottom:50px;
  };
  p {
    color: $light-beige;
    font-size: 18px;
    text-align: justify;
  }
  i {
    font-size: 22px;
  }
  img {
    width:30px;
  }
  a {
    text-decoration: none;
    color:$light-beige;
    &:hover {
      color:$green;
      font-weight: bold;
    }
  }
}

.title {
  padding-right: 0px !important;
  // left: 350px;
  // width: 760px;
  z-index: 98;

  h2 {
    color: $blue;
  }
}

@media (min-width: 1029px) {
  .title {
    overflow-y: scroll;
    height: 100vh;
  }
}

@media (max-width: 1028px) {
  .title {
    overflow-y: scroll;
    height: 100vh;
    .about {
      padding: 40px;
    }
  }
  .intro {
    .intro-text {
      padding: 80px 40px;
    }
  }
}

@media (max-width: 546px) {
  .title {
    overflow-y: visible;
    .about {
      padding: 40px 20px;
    }
    .intro {
      width:100%;
      height:500px;
      .intro-text {
          padding: 80px 20px;
        }
      h1 {
        font-size:54px;
      }
    }
  }
}



.about {
  padding: 80px;
  align-items: center;
  background-color: $light-grey;
  color: $brown;
  h2 {
    color: $blue;
  }
  span{
    font-family: $title;
    font-weight: 100;
    font-size: 12px;
  }
  p {
    text-align: justify;
    margin-bottom: 0px;
    padding-bottom: 40px;
  }
  strong {
    font-weight:700;
  }

  a {
    color: $blue;
    &:hover {
      font-weight: bold;
      text-decoration: none;
      color:$red;
    }
  }
}

.space-line {
  border-left: 1px solid $blue;
  height:60px;
}

.space-line-light {
  border-left: 1px solid $light-beige;
  height:60px;
}

.language {
  img {
    width:30px;
  }
  li{
    list-style: none;

  }
}
