#contacts {
  padding: 80px;
  background-color: $blue;
  h2 {
    color:$light-beige;
  }
}


@media (max-width: 1028px) {
  #contacts {
    padding: 40px;
  }
}

@media(max-width: 815px) {
  #contacts {
    padding: 40px 20px;
  }
}

// #inlineFrameExample {
//     border: 1px solid black;
//     width: 100%;
// }

// .output {
//     background: #eee;
// }
