#education {
  padding: 80px;
  align-items: center;
  background-color: $light-grey;
  p,h4 {
    color:$brown;
  }
  h4 {
    font-size: 20px;
  }
  h6 {
    color: $blue;
  }
  .edu-info {
    margin-left:40px;
    // border-left: 1px solid $blue;
    padding-left: 30px;
    img {
      width:40px;
    }
  }

}

.edu-info:hover {
  h6{
    font-style: bold;
  }
}

@media (max-width: 1028px) {
    #education {
    padding: 40px;
  }
}

@media(max-width: 815px) {
  #education {
    padding: 40px 20px;
  }
}
