#experiences {
  padding: 80px;
  align-items: center;
  background-color: $light-grey;
  color:$brown;
  h2 {
    color:$blue;
  }
  h6 {
    color:$blue;
    margin-bottom: 0px !important;
  }
  strong {
    font-weight: 700;
  }
  p {
    margin-bottom: 0px !important;
  }
  // .exp-btn {
  //   border: 1px solid $brown;
  //   padding:5px 10px;
  //   border-radius: 5px;
  // }
}

@media (max-width: 1028px) {
  #experiences {
    padding: 40px;
  }
}

@media(max-width: 546px) {
  #experiences {
    padding: 80px 20px;
  }
  .company-exp {
    p {
      font-size: 14px !important;
    }
    h6 {
      font-size: 14px !important;
    }
  }
}

// -----------------------------------------------
// style 2 with time line and company images
.company-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  transition: all .2s ease-in-out;
  .leftside {
    width: 100%;
    height:auto;
    border-right: 1px solid $red;
  }
  .exp-description-right {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-size: 18px;
    }
  }

  &:hover {
    .exp-title {
      font-style:bold;
      transform: scale(1.1);
    }
  }

  .rightside {
    width: 100%;
    height:auto;
  }
  .exp-description-left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $red;
    text-align: right;
    p {
      font-size: 20px;
    }
  }
}

.exp-space {
  height: 5rem;
  width:50%;
  border-right: 1px solid $red;
}

// -----------------------------------------------------------------
// Following is the modal box for experience details
.exp-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
// .modal-content {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }

/* Modal Content */
.exp-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 45px 0px 20px 0px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.5s
}

/* The Close Button */
.exp-close {
  color: $light-beige;
  font-size: 24px;
  font-weight: bold;
}

.exp-close:hover,
.exp-close:focus {
  color: $dark-brown;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.exp-modal-header {
  padding: 8px 16px;
  background-color: $blue;
  color: $light-beige;
  align-items:center;
  h4 {
    margin: 0px;
  }
}

/* Modal Body */
.exp-modal-body {
  padding: 2px 16px;
  img {
    height: 2rem;
  }
  p {
    color: $blue;
  }
}


/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
