
.navbar-lewagon {
  justify-content: space-between;
  height: 70px;
  position: sticky;
  background-color: $light-beige;
  top: 0;
  z-index:100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon a {
  color:$blue !important;
  // text-decoration: none;
  font-family: $title;
  font-weight: 700;
  letter-spacing: 3px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}


#toggle div:first-of-type {
  width:25px;
}

#toggle div {
  height: 3px;
  margin-bottom: 6px;
  transition: all 0.3s linear;
  background-color: $blue;
  opacity: 0.8;
  &:hover {
    width: 30px;
    opacity: 1;
  }
}
