
.navbar-lewagon {
  justify-content: space-between;
  height: 77px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon a {
  color:$blue !important;
  // text-decoration: none;
  font-family: $title;
  font-weight: 700;
  letter-spacing: 3px;
  &:hover {
    opacity: 0.8;
  }
}

#toggle:hover div {
    width: 30px;
}
