
.navbar-lewagon {
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  left:0;
  background-color: $light-beige;
  z-index:100;
  width:100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  color:$blue !important;
  // text-decoration: none;
  font-family: $title;
  font-weight: 700;
  letter-spacing: 3px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}


#toggle div:first-of-type {
  width:20px;
}

#toggle div:last-of-type {
  width:25px;
}

#toggle div {
  height: 3px;
  margin-bottom: 6px;
  margin-right: 50px;
  transition: all 0.3s linear;
  background-color: $blue;
  width:17px;
  opacity: 0.8;
  position:relative;
}

#toggle:hover {
  div {
    width: 30px;
    opacity: 1;
  }
}

.on #toggle div {
    opacity: 0;
    margin-left: -2px;
}
.on #toggle div:first-of-type {
    transform: rotate3d(0,0,1,45deg) translate(9px,6px);
    width: 30px !important;
    opacity: 1 !important;
}

.on #toggle div:last-of-type {
    transform: rotate3d(0,0,1,-45deg) translate(6px,-4px);
    width: 30px !important;
    opacity: 1 !important;
}
