#projects {
  padding: 80px;
  background-color: $blue;
  h2 {
    color:$light-beige;
  }
}

@media (max-width: 1028px) {
  #projects  {
    padding: 40px;
  }
}

@media(max-width: 815px) {
  #projects {
    padding: 40px 20px;
  }
  #project1-info, #project2-info, #project3-info {
    width:100% !important;
    display:block !important;
    position:relative !important;
  }
}

#project1 {
  position:relative;
  box-shadow: 0px 0px 5px $light-grey;
  border:5px solid $light-beige;
  transition: all .5s ease-in-out;
  .project-img {
    background: no-repeat;
    background-position: top;
    background-size: cover;
    width:100%;
    height:250px;
    &:hover {
      opacity: 0.8;
    }
  }
  #project1-info {
    display:none;
    height: 250px;
    width: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding:20px;
    background-color: $ocean;
    color: $light-grey;
    transition: all .5s ease-in-out;
  }

}
#project2 {
  position:relative;
  box-shadow: 0px 0px 5px $light-grey;
  border:5px solid $light-beige;
  transition: all .5s ease-in-out;
  .project2-img {
    background-position: center;
    background-size: cover;
    width:100%;
    height:250px;
    &:hover {
      opacity: 0.8;
    }
  }
  #project2-info {
    display:none;
    height: 250px;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding:20px;
    background-color: $red;
    color: $light-grey;
    transition: all .5s ease-in-out;
  }
}

#project3 {
  position:relative;
  box-shadow: 0px 0px 5px $light-grey;
  border:5px solid $light-beige;
  transition: all .5s ease-in-out;
  .project3-img {
    background-position: center;
    background-size: cover;
    width:100%;
    height:250px;
    &:hover {
      opacity: 0.8;
    }
  }
  #project3-info {
    display:none;
    height: 250px;
    width: 50%;
    // z-index: -1;
    position: absolute;
    top: 0px;
    right: 0px;
    padding:20px;
    background-color: $kaki;
    color: $light-grey;
    transition: all .5s ease-in-out;
  }
}

