#projects {
  padding: 80px;
  background-color: $blue;
  h2 {
    color:$light-beige;
  }

  p {
    font-size: 1vw;
  }
}

@media (max-width: 1028px) {
  #projects  {
    padding: 40px;
  }
}

@media(max-width: 546px) {
  #projects {
    padding: 80px 20px;
  }
  .project-container{
    width:100%;
    height:65vh !important;
  }
  #project1-info, #project2-info, #project3-info, #project0-info {
    width:100% !important;
    height:60% !important;
    visibility: visible !important;
    opacity: 1 !important;
    position:relative !important;
  }
  .project-img {
    height: 40% !important;
  }
}

.project-container{
  position:relative;
  box-shadow: 0px 0px 5px $light-grey;
  border:5px solid $light-beige;
  width:100%;
  height:42vh;
  .project-img {
    background-position: top;
    background-size: cover;
    width:100%;
    height:100%;
  }
  #project0-info, #project1-info, #project2-info, #project3-info {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    height: 100%;
    width: 50%;
    padding:20px;
    color: $light-grey;
  }
}

#project0 {
  #project0-info {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $dark;
  }
}

#project1 {
  #project1-info {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $green;
  }

}
#project2 {
  #project2-info {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $red;
  }
}

#project3 {
  #project3-info {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $kaki;
  }
}

