.progress-bar {
  background-color: $blue !important;
  text-align: left !important;
  padding-left: 20px;
  height:110%;
}


.progress_item {
  display: flex;
  justify-content:space-between;
  align-items:center;

  .progress {
    padding-left: 0px !important;
    height: 1.2rem !important;
   }
}

