.profile {
  height:95vh;
}
.profile-photo {
  background-position: center;
  background-size: cover;
  height:80%;
  // position:fixed;
}
.profile-follow a {
  font-size: 24px;
  color: $brown;
  text-decoration: none;
  opacity: 0.8;
  transition: all .2s ease-in-out;
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}


// @media(max-width: 992px) {
//   .profile {
//       height:95vh;
//     }
// }

@media(max-width: 546px) {
  .profile {
    height:50vh;
    .profile-photo {
      background-position: top;
      background-size: cover;
    }
  }
}





