#skills {
  padding: 80px;
  align-items: center;
  background-color: $blue;
  color: $light-beige;
  h2 {
    color: $light-beige;
  }
  span{
    font-family: $title;
    font-weight: 400;
    font-size: 14px;
    margin-top:1rem;
  }
  p {
    text-align: justify;
  }
  h5 {
    color: $light-beige;
  }
  a {
    text-decoration: none;
    color: $dark-beige;
    &:hover {
      font-weight: 700;
    }
  }
}

@media (max-width: 1028px) {
  #skills {
    padding: 80px 40px;
  }
}

@media(max-width: 546px) {
  #skills {
    padding: 80px 20px;
    .nav-link h5 {
      font-size: 16px;
    }
  }
}

.progress-item {
  .col-10, .col-2 {
    padding: 0px 0px !important;
  }
}

.language img {
  width:28px;
}

.language li {
    display: inline-block;
    *display:inline;

}

.language ul {
  padding-left:0px !important;
}

.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
  background-color: $blue;
  color:$light-beige;
  display:block;
}


.tab-content>.tab-pane {
    display: none;
}

.fade:not(.show) {
  opacity: 0;
  display: none !important;
}

// .nav-pills {
//   a {
//     color:$light-beige;
//     padding-left: 0px;
//     padding-right: 0px;
//     margin-right: 20px;
//   }
// }

.skill-tab {
  padding: 6px 15px 6px 15px;
  margin-bottom: 7px;
  margin-right: 7px;
  background-color: $light-beige;
  color:$blue;
  border-radius: 5rem;
  height:40px;
  img {
    height: 30px;
  }
}

