@import "config";
@import "components/navbar";
@import "components/content-container";
@import "components/about";
@import "components/progress";
@import "components/profile_photo";
@import "components/slide_menu";
@import "components/skills";
@import "components/education";
@import "components/experience";
@import "components/projects";
@import "components/contacts";


h1{
  font-family: $title;
  font-size: 4vw;
  font-weight:700;
  font-style: bold;
}

h5, h6 {
  font-family: $title;
  font-weight:200;
}

h2, h3, h4 {
  font-family: $sub-title;
}

h2{
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

p {
  font-family: $text;
  font-weight: 200;
  font-size: 1.2vw;
}

@media(max-width: 546px) {
  p {
    font-size: 4vw !important;
  }
  h2 {
    font-size: 8vw;
  }
}

body {
  background-color: $light-beige;
  overflow-x: hidden;

  padding-top: 70px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}



// html {
//   overflow-x: hidden;
// }
